body {            
    width: 50%;
    margin: auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)), url(../sju-log.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 400px 400px;
}
.title {
    display: flex;
}
#logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-top: 15px;
}
.sju-logo {
    height: 140px;
}
.sejong {
    flex: auto;
    height: 140px;
}
.sejong > h1 {
    color: #5b656d;
}
.loc {
    text-align: right;
    flex: auto;
    height: 140px;
    margin-top: 20px;
}
#writer {
    font-size: 17px;
}
p, b {
    font-size: 14px;
}